<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>File Upload</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.css">
</head>
<body>
    <center><h1>File Upload</h1></center>
    <form action="{{ url_for('upload_files')}}" class="dropzone">

    </form>
    <!--<br>
    <form method="post" action="/download" enctype="multipart/form-data">
    <dl>
        <p>
            <input type="file" name="file" autocomplete="off" required>
        </p>
    </dl>

        <p>
            <input type="submit" value="Submit">
        </p>
        </form>-->


    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.js"></script>
</body>
</html>